---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Privacidade">
    <h1>Política de Privacidade</h1>
    <p>Respeitamos seus dados. Este site utiliza cookies apenas para melhorar sua experiência de navegação.</p>
    <p>Não compartilhamos suas informações pessoais com terceiros.</p>
</Layout>
