---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Sobre Nós">
    <h1>Sobre o Guia Gramado Canela</h1>
    <p>Somos apaixonados pela Serra Gaúcha e criamos este portal para ajudar você a planejar a viagem dos seus sonhos em 2026.</p>
    <p>Nossas dicas são focadas em economia, gastronomia e roteiros práticos.</p>
</Layout>
